body {
    font-family: Arial, sans-serif;
}

.home-container {
    align-items: center;
    background: #f9f9f9;
    height: 100vh;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}

.home-container h2 {
    margin-bottom: 0%;
    margin-top: 0%;
}

.home-container h3 {
    color: #6a4ce0;
    margin-bottom: 7%;
    margin-top: 0%;
}

.home-container p {
    font-size: x-small;
    font-weight: 700;
    margin-bottom: 3%;
    margin-top: 0%;
}

.home-container span {
    color: #6a4ce0;
    font-size: larger;
    font-weight: 900;
}

.logout-button {
    background: #6a4ce0;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 6%;
    padding: 10px 30px;
}

.profile-card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    text-align: center;
    width: 150px;
}

.profile-card img {
    margin-bottom: 0px;
    padding-bottom: 0%;
    width: 130px;
}