body {
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.login-card {
    margin: 10px;
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-card h2 span {
    color: #6a4ce0;
    font-weight: 900;
    font-size: larger;
}
.login-container h2{
    margin: 5px;
}

.input-group {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    background-color: #f0f0f0;
    /* padding: 10px; */
    border: 0px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}


.social-button {
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: white;
    color: black;
    border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
}
.login-button{
    width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        background: #6a4ce0;
        color: white;
        border-radius: 5px;
        cursor: pointer;
}
.error {
    color: red;
    font-size: 14px;
}
.login-container p{
    text-align: center;
}
.forgot{
    text-align: right;
}
.login-container a{
    text-decoration: none;
}

.label-section{
    padding-left: 12px;
    font-size: x-small;
}
.input-field-section{
    justify-content: space-between;
    width: 200%;
}
.input-field-section:focus{
    box-shadow: none;
}
.options{
    font-size: small;
    padding-bottom: 10px;
    display: flex;
     gap: 10px;
    justify-content: space-between;
     align-Items: center;
}
.social-login{
    padding-top: 15px;
}

.login-container input:focus {
    border: 0px;
    outline: none;
    /* Disable the default browser focus outline */
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    color: #888;
    /* Light gray for the text */
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    /* Line color */
    margin: 0 1rem;
    /* Space around "or" */
}

.separator span {
    font-size: 0.9rem;
    color: #555;
    /* Darker gray for "or" text */
    text-transform: uppercase;
}
.toggle-password-icon{
    /* align-items: left; */
                color: black;
                        position: relative;
                        /* top: 50%; */
                        left: 40%;
                        /* transform: translateY(-50%); */
                        cursor: pointer;
}
.login-container svg{
    min-width: 20px;
}
.login-heading{
    display: flex;
    justify-content: space-between;
}
.login-heading img{
    width: 100px;
    display: none;

}
@media (max-width: 980px) {
    .login-container .login-heading img{
        display:block;
    }
    .login-container img{
        display: none;
    }
}
@media (max-width: 460px) {
    .input-field-section {
            width: 100%;
        }
    .toggle-password-icon {
            /* top: 30%; */
            /* right: 0px; */
            /* left: 30%; */
            margin-right: 40%;
            /* right: 110px; */
         }

    .options{
        gap: auto;
    }
    
}